# Latex intermediary files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.run.xml
*.bcf
*.pyg
*.dot

# Minted
_minted*

# Generated pdf
klughdl.kilepr
report.fdb_latexmk
report.fls
chapters/viewing-library.fls
AstExample.pdf
GraphBaseModel.pdf
MultiGraphNoPort.pdf
auto/
GenerationPipeline.pdf
chapters/ast_parsing.fls
chapters/viewing-library.rip
report.tr
report_version_corr_Marcel_20170118_18h15.pdf
julmy PA 2016-2017-S1.pdf
